footer {
    margin-top: -50px;
    z-index: 2;
    position: relative;
}

footer .copyright p {
    text-align: center;
    border-top: 1px solid #eee;
    color: #000000;
    margin-top: 50px;
    padding: 20px 0px;
    font-weight: 300;
}

footer .copyright p a {
    color: #ff695f;
}